# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Visual Studio-specific files
.vscode/
.vs/
.x64/
.FrutinhaEngine/
x64/
FrutinhaEngine/
*.user
*.suo
*.userosscache
*.sln.ide
*.sln
*.vcxproj
*.vcxproj.*

# Ignore compiled object files, libraries, and executables
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.out
*.aseprite


